@import "tailwindcss";

@theme {
  /* Renk Paletiniz */
  --color-brand-orange-dark: #FF9F1C;
  --color-brand-orange: #FFBF69;
  --color-brand-white: #FFFFFF;
  --color-brand-teal-light: #CBF3F0;
  --color-brand-teal: #2EC4B6;

  /* Semantik eşleştirmeler */
  --color-primary: var(--color-brand-teal);
  --color-secondary: var(--color-brand-orange-dark);
  --color-bg-base: var(--color-brand-white);
  --color-text-main: #1f2937; /* Okunabilirlik için koyu bir ton */
}

@layer base {
  body {
    @apply bg-bg-base text-text-main font-sans antialiased;
  }
}
